@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header{
    background-color: rgb(47, 129, 229);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.LOGO{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8em;
}
.navigation a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left:30PX ;
}
.navigation a:hover{
    color: blanchedalmond;
}
section{
    padding: 100px 200px; 
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(15590980_1878921905676576_951057562313975998_o.jpg);
    background-size:cover ;
    background-position: center;
    background-attachment: fixed ;
}

.main h2{
    color:#FFF ;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    color: rgb(15, 15, 194);
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color: rgb(245, 245, 249);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top:10PX ;
    margin-bottom: 30px;
}
.main-btn{
    color: #FFF;
    background-color: blue;
    text-decoration:none;
    font-size: 1.1em;
    font-weight:600 ;
    display: inline-block;
    padding:0.9375em 2.1875em ;
    letter-spacing: 1px;
    border-radius:15px ;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: rgb(62, 119, 239);
    transform: scale(1.1);
}
.social-icons a {
    color: #FFF;
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display :flex;
    justify-content: center ;
    color: rgb(9, 92, 208);
    font-size: 2.2em ;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex ;
    justify-content: center;
    flex-direction:column;
    flex-wrap: wrap;
}
.card{
    background-color: #FFF;
    width: 21.25 em;
    box-shadow: 0 5px 25px rgba( 1 1 1 /20%);
    border-radius: 10px ;
    margin: 15px;
    padding: 25px;
    transition: 0.7s ease;
    }
.card:hover{
    transform: scale(1.1);
    background-color: rgb(254, 255, 255);
}
.icon{
    text-align: center ;
}
.icon a {
    color: #3a6cf4;
    font-size: 4em ;
}
.info h3 {
    color: #3a6cf4;
    font-weight: 700;
    font-size: 1.2em ;
    text-align: center;
}
.info P {
    text-align: center;
}
.projects{
    background-color:#000016 ;
}
.continues{
    display: flex ;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;

}
.projects .conted{
    margin-top:30px ;
}
.projects-card{
    background-color: #FFF;
    border: 1px solid #FFF;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius:10px ;
    margin: 20px;
    transition: 00.7s ease;
}
.projects-card:hover{ 
    transform: scale(1.1) ;
}
.projects-card:hover.projects-image{
    opacity: 0.9;

}
.projects-image{
    width: 100%;
}
.projects-info{
    padding: 1em;
}
.projects-category{
    font-size: 0.8em;
    color: #000;
}
.projects-title{
    display: flex;
    justify-content: space-between;
    text-transform:capitalize;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color: #5ba6f7;
}
.more-details:hover{
    color: #233de4;
}
.footer{
    background-color: #000016;
    color: #FFF;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.
.footer-title{
    color:#FFF ;
    font-weight: 200;
}
.footer-title span{
    color:#3a6cf4;
}
.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0 ;

}
@media(max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:641px){
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }
}
@media(max-width:300px){
    body{
        font-size: 10px;
    }
}


























